{% extends 'main_hd/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="singup-main__section">
        <div class="singup-main__section-content">
            <div class="singup-main__section-items">
                <h1 class="singup-main__section-h1">Всі записи проходять в телеграм боті</h1>
                <a href="https://t.me/hairdresserBydgoszczbot" class="singup-main__section-button_link">
                    <div class="singup-main__section-button button_styles">
                        <p class="singup-main__section__button-text">Перейти до телеграм бота</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}