{% extends 'main_hd/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="signup-main__section">
        <div class="signup-main__section-content">
            <div class="signup-main__section-items">
                <h1 class="signup-main__section-h1">All appointments are made through the Telegram bot</h1>
                <a href="https://t.me/hairdresserBydgoszczbot" class="signup-main__section-button_link">
                    <div class="signup-main__section-button button_styles">
                        <p class="signup-main__section__button-text">Go to Telegram bot</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
